@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0 !important
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    background: #ededed;
    color: #000;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0
}

img {
    border: none;
    list-style-type: none;
    margin-right: 20px
}

a {
    color: #007bff;
    text-decoration: none !important;
    background-color: transparent
}

body.login {
    font-size: 1rem
}

.float-right {
    float: right !important
}

.login .brand {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05);
    position: relative;
    z-index: 1
}

.login .brand img {
    width: 100%
}

.login .card-wrapper {
    width: 460px
}

.login .card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .05)
}

.login .card.fat {
    padding: 15px
}

.login .card .card-title {
    margin-bottom: 30px
}

.login .form-control {
    border-width: 2.3px;
    border: 1px solid #d3d3d3
}

.login .form-group label {
    width: 100%
}

.login .btn.btn-block {
    padding: 12px 10px
}

.login .footer {
    margin: 40px 0;
    color: #373737;
    text-align: center;
    font-weight: 400
}

.login label {
    margin-bottom: .5rem
}

.login .card-body {
    padding: 1.25rem !important
}

.login .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top
}

.login input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.login .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.custom-file-label,
.custom-select,
.login .custom-control-label::before {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.login .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px
}

.login .custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%
}

.login .custom-checkbox .custom-control-label::before {
    border-radius: .25rem
}

.login .form-group {
    margin-bottom: 1rem
}

.login .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem
}

.login .btn-block {
    display: block;
    width: 100%
}

.login .btn-primary {
    color: #fff;
    background-color: #535453;
    border-color: #404040;
}

.login .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #acd7b5;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(107 141 100 / 25%)
}

.login .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px
}

.login .custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
    border-color: #b3d7ff
}

.login .custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%
}

.login .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
}

.login .card-body {
    box-shadow: none !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff
}

@media screen and (max-width:425px) {
    .login .card-wrapper {
        width: 90%;
        margin: 0 auto
    }
}

@media screen and (max-width:320px) {
    .login .card.fat {
        padding: 0
    }

    .login .card.fat .card-body {
        padding: 15px
    }
}

/* Przycisk rozwiń menu (widoczny gdy sidebar zwinięty) */
.sidebar-expand-btn {
    position: fixed;
    left: 0;
    top: 0px;
    z-index: 1001;
    width: 68px;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b303b;
    color: #fff;
    border: none;
    border-radius: 0 6px 6px 0;
    box-shadow: 2px 0 6px rgba(0, 0, 0, .15);
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.sidebar-expand-btn:hover {
    background-color: #272b35;
    color: #fff;
}

/* Przyciski Akcja w tabelach – małe, obok siebie, margines 2px */
.page_content table td .btn,
.bootstrap-table table td .btn {
    display: inline-block;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.35;
    margin-right: 2px;
    vertical-align: middle;
}

.page_content table td .btn:last-child,
.bootstrap-table table td .btn:last-child {
    margin-right: 0;
}

.page_content table td .btn i,
.bootstrap-table table td .btn i {
    font-size: 12px;
}

.page_content table td:has(.btn),
.bootstrap-table table td:has(.btn) {
    white-space: nowrap;
}